<template>

  <div>
    <div class="card">

      <div class="card-content card-content-padding">
  
        ${owner ? $h`
          Owned by <a href="https://etherscan.io/address/${owner}">${owner}</a>
        ` : $h
        `
          NFT has not been <a href="${link(`mint.html`)}">minted</a> yet. 
        `}
  
      </div>
    </div>

    <div class="data-table card">

      <table>
        <tbody>
          <tr>
            <td class="label-cell">Contract Address</td>
            <td>${contractAddress}</td>
          </tr>
  
          <tr>
            <td class="label-cell">Token ID</td>
            <td>#${id}</td>
          </tr>
  
          <tr>
            <td class="label-cell">Token Standard</td>
            <td>ERC-721A</td>
          </tr>
  
          <tr>
            <td class="label-cell">Blockchain</td>
            <td>Ethereum</td>
          </tr>
        </tbody>
        

      </table>

    </div>


  </div>



</template>


<style>
</style>

<script>

  export default (props, { $, $on, $f7, $update }) => {

    let walletService = globalThis.container.get("WalletService")

    let id = props.id
    let owner = props.owner 
    let contractAddress = walletService.truncateEthAddress(props.contract)

    let baseURL = props.baseurl 


    const link = (href) => {
        return `${baseURL + href}`
    } 



    return $render
  }

</script>