<% 

    const excerptHtml = require('excerpt-html')
    const he = require('he')

    let hostname = htmlWebpackPlugin.options.hostname
    let baseURL = htmlWebpackPlugin.options.baseURL
    let channelViewModel=htmlWebpackPlugin.options.channelViewModel 
    let routablePages = htmlWebpackPlugin.options.routablePages

    const link = (href) => {
        return `${baseURL + href}`
    }   

    const absoluteLink = (href) => {
      return `${hostname + baseURL + href}`
    }   

    
    const escapeExcerpt = (excerpt) => {
      excerpt = excerptHtml(excerpt, { pruneLength: 500 })
      return he.encode(excerpt.toString())
    }

%>

<!DOCTYPE html>
<html>

  <head>
    <style>
      html {
        visibility: hidden;
        opacity: 0;
      }
    </style>

    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>

    <meta property="og:title" content="Mint '<%=channelViewModel.channel.title%>'" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="<%= link(`mint.html`) %>" />
    <meta property="og:image" content="<%= absoluteLink(`backup/images/${channelViewModel.channel.coverImageId}.jpg`) %>" />
    <meta property="og:description" content="Mint '<%=channelViewModel.channel.title%>' NFTs" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%= link(`mint.html`) %>" />
    <meta property="twitter:title" content="Mint '<%=channelViewModel.channel.title%>'" />
    <meta property="twitter:description" content="Mint '<%=channelViewModel.channel.title%>' NFTs" />
    <meta property="twitter:image" content="<%= absoluteLink(`backup/images/${channelViewModel.channel.coverImageId}.jpg`) %>" />

    <%= htmlWebpackPlugin.tags.headTags %>
    
  </head>

  <body>

    <div id="app">

      <div class="view view-main">

        <div class="page" data-name="mint">

          <nav-bar></nav-bar>

          <div class="page-content">

            <div class="row">

              <div class="col-100 large-66 center">
                
                <div class="card channel-card-show">

                  <div class="card-header banner" <% if(channelViewModel?.channel.coverBannerId) { %>
                    style="background-image: url('backup/images/<%=channelViewModel?.channel.coverBannerId%>.jpg')"
                      <% } %>
                        >

                        <% if (channelViewModel?.channel.coverImageId) { %>
                          <img src="backup/images/<%=channelViewModel.channel.coverImageId%>.jpg" class="avatar" />
                        <% } else { %>
                          <i class="f7-icons avatar">photo</i>
                        <% } %>

                  </div> 

                  <div class="card-content card-content-padding">

                    <div class="title">
                      <%= channelViewModel.channel.title %>
                    </div>

                    <% if(channelViewModel?.authorDisplayName) { %>
                      <div class="name">
                        By <a href="author-<%=channelViewModel?.author._id%>.html">
                          <%= channelViewModel?.authorDisplayName %>
                        </a>
                      </div>
                    <% } %>

                    <% if(channelViewModel.channel?.contractAddress) { %>
                      <div class="contract-address">
                        <strong>Contract Address:</strong>
                        <%= channelViewModel?.channelContractAbbrev %>
                      </div>
                    <% } %>


                  </div>

                </div>
                
                <mint-list baseurl="<%= baseURL %>"></mint-list>

              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

    <%= htmlWebpackPlugin.tags.bodyTags %>

    
    <script type="module" id="page-init-scripts">

      const init = (props, { $, $f7, $h, $on, $update }) => {   


        $on('pageInit', async () => {
        })

        $on('pageBeforeOut', async () => {
        })        


        document.querySelector('meta[property="og:title"]').setAttribute("content", "Mint '<%=channelViewModel.channel.title%>'")
        document.querySelector('meta[property="og:url"]').setAttribute("content", "<%= link(`mint.html`) %>")
        document.querySelector('meta[property="og:image"]').setAttribute("content", "<%= absoluteLink(`backup/images/${channelViewModel.channel.coverImageId}.jpg`) %>")
        document.querySelector('meta[property="og:description"]').setAttribute("content", "Mint '<%=channelViewModel.channel.title%>' NFTs")

        document.querySelector('meta[property="twitter:url"]').setAttribute("content", "<%= link(`mint.html`) %>")
        document.querySelector('meta[property="twitter:title"]').setAttribute("content", "Mint '<%=channelViewModel.channel.title%>'")
        document.querySelector('meta[property="twitter:image"]').setAttribute("content", "<%= absoluteLink(`backup/images/${channelViewModel.channel.coverImageId}.jpg`) %>")
        document.querySelector('meta[property="twitter:description"]').setAttribute("content", "Mint '<%=channelViewModel.channel.title%>' NFTs" )

        document.querySelector('title').innerHTML = "Mint '<%=channelViewModel.channel.title%>' NFTs."

        $f7.preloader.hide()
    
        return $render


      }


    </script>

    <script type="module" id="page-scripts">

      let routablePages = JSON.parse(`<%= JSON.stringify(routablePages) %>`)
      let app = reader.init('<%= baseURL %>', '<%= VERSION %>', routablePages )

    </script>

  </body>

</html>