<!--suppress JSAnnotator -->

<template>
  <div id="app">

    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar"></div>

    <div class="view view-main" >
    </div>

  </div>
</template>

<style>



</style>

<script>

  import { ContainerService } from "../../service/core/container-service"

  import { UiService } from "../../service/core/ui-service"

  import { WalletService } from "../../service/core/wallet-service"

  export default (props, { $on, $f7ready, $f7, $f7router, $update }) => {


    
    $f7ready(async () => {
  
      let baseURI = window.location.pathname
      let hash = window.location.hash?.length > 2 ? window.location.hash.substring(2) : undefined

      // console.log(baseURI)
      // console.log(hash)

      let uiService = ContainerService.getInstance(UiService)
      let walletService = ContainerService.getWalletService()

      //If Ethereum connection is available then initialize the wallet
      // if (typeof window !== "undefined" && window['ethereum']) {

      //   await initWallet()




      // } else {
        await initNoWallet()
      // }


      async function initNoWallet() {

        // uiService.showSpinner("Loading...")

        $f7.views.create('.view-main', {
          url: hash ? hash : '/',
          browserHistory: true,
          browserHistoryRoot: baseURI,
          reloadCurrent: true,
        })

        // uiService.hideSpinner()

      }


    })


    return $render
  }

</script>