<template>

    <div class="right">

        <!-- Link to enable searchbar -->
        <a class="link icon-only searchbar-enable" href="${baseURI}search.html">
            <i class="f7-icons">search</i>
        </a>

        ${showConnect ? $h`
            
            ${walletAddress != undefined ? $h`
                <a class="button button-fill">${truncateEthAddress(walletAddress)}</a>
            ` : $h`
                <button class="button button-outline button-fill" @click=${connectWallet}>Connect Wallet</button>
            `}

        ` : $h`<span />`}
        


    </div>

</template>
 
<style>
</style>


<script>
  
    export default (props, { $on, $f7, $update }) => {

        let walletService = globalThis.container.get("WalletService")
        let uiService = globalThis.container.get("UiService")
        let baseURI = globalThis.container.get("baseURI")

        let walletAddress = walletService.wallet?.address
        
        let showConnect = true

        const truncateEthAddress = (address) => {
            return walletService.truncateEthAddress(address)
        }

        const displayAddress = async (e) => {

            walletAddress = undefined

            if (!walletService.provider) {
                await walletService.initProvider()
            }

            walletAddress = await walletService.getAddress()

            //If no provider still then clear the address so we don't show the button
            if (!walletService.provider) {
                showConnect = false
            }


            $update()
        }

        const connectWallet = async (e) => {

            await walletService.initWallet()

            //Connect to metamask
            await walletService.connect()
            displayAddress()
        }

        displayAddress()

        return $render
    }
</script>
