<template>

  <div class="page" data-name="admin-show-collection">

    <!-- <${Navbar} /> -->

    <div class="page-content">

      <div class="row">

        <div class="col-100 large-66 center">

          ${pagingViewModel.offset == 0 ? $h`

            <div class="card channel-card-show">

              ${channelViewModel?.channel.coverBannerId ? $h`
                
                <div class="card-header banner" id="banner" style="background-image: url('backup/images/${channelViewModel?.channel.coverBannerId}')">

                  ${channelViewModel?.channel.coverImageId ? $h`
                  <img src="backup/images/${channelViewModel.channel.coverImageId}" class="avatar" />
                  ` : $h`
                  <i class="f7-icons avatar">photo</i>
                  `}
  
                </div>
                
              ` : $h`

                <div class="card-header banner" id="banner">
  
                  ${channelViewModel?.channel.coverImageId ? $h`
                  <img src="backup/images/${channelViewModel.channel.coverImageId}" class="avatar" />
                  ` : $h`
                  <i class="f7-icons avatar">photo</i>
                  `}
  
                </div>          
              `}


              <div class="card-content">

                <div class="card-content card-content-padding">

                  <div class="title">${channelViewModel?.channel?.title}</div>

                  ${channelViewModel?.authorDisplayName ? $h`
                  <div class="name">
                    By <a href="/author/show/${channelViewModel?.author._id}">${channelViewModel?.authorDisplayName}</a>
                  </div>
                  ` : ``}

                  <div class="description" innerHTML="${channelViewModel.channel?.descriptionHTML}" id="channel-show-description-${channelViewModel.channel._id}"></div>

                  ${channelViewModel.channel?.contractAddress ? $h`
                  <div class="contract-address">
                    <strong>Contract Address:</strong> ${channelViewModel?.channel?.contractAddress}
                  </div>
                  ` : $h``}

                </div>

              </div>

            </div>

          ` : $h`
          
            <ul class="breadcrumb">
              <li><a href="/">${channelViewModel.channel.title}</a></li>
              <li>Page ${pagingViewModel.page}</li>
            </ul>

          `}

          <${ItemList} channel=${channelViewModel} items=${items} paging=${pagingViewModel} />

        </div>
      </div>

    </div>

  </div>

</template>


<style>
  .channel-card-show .card-header {
    display: block;
    padding: 10px;
  }


  .channel-card-show .title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
  }

  .channel-card-show .name,
  .channel-card-show .contract-address {
    text-align: center;
  }

  .channel-card-show .name a {
    color: var(--f7-theme-color);
    font-weight: bold;
  }

  .channel-card-show .date {
    font-size: 13px;
    color: #8e8e93;
  }


  .channel-card-show .excerpt {
    font-size: 17px;
  }


  .channel-card-show .card-content img {
    display: block;
    max-width: 100%;
  }

  .channel-card-show .banner {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #f1f1f1;
  }

  .channel-card-show .avatar {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: calc(50% - 50px);
    bottom: 0;
    margin-bottom: -50px;
    z-index: 10000;
    border: 3px solid #ffffff;
    font-size: 100px;
    background: #ffffff;
  }

  .channel-card-show a {
    color: var(--f7-text-color);
  }

  .channel-card-show .description {
    font-size: 17px;
    text-align: center;
    width: 750px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .item-card img {
    max-width: 100%;
  }

  /* 
    .item-card {
      height: 250px;
    } */

  .item-preview {
    width: 100%;
    display: flex;
  }

  .item-preview p {
    margin-top: 5px;
  }

  .item-preview .title {
    color: #000000;
    font-size: 23px;
    font-weight: 700;
  }

  .item-preview .right {
    flex: 0 0 150px;
    /* do not grow, do not shrink, start at 250px */
  }

  .item-preview .right img {
    max-width: 100%;
  }

  .item-preview .left {
    flex: 1;
    /* grow */
  }

  .menu-dropdown-link.menu-close {
    color: #ffffff;
  }

  .channel-show-token-id {
    color: rgb(79, 79, 79);
  }

</style>


<script>

  import Navbar from "../reader/navbar.f7.html"
  import InfoRow from "../reader/channel/info-row.f7.html"
  import ItemList from "../reader/channel/item-list.f7.html"

  export default (props, { $, $on, $f7, $update }) => {

    let channelViewModel = props.channelViewModel
    let pagingViewModel = props.pagingViewModel
    let items = props.items

    $on('pageInit', async (e, page) => {

        //Make links external
        // let links = document.getElementById(`channel-show-description-${channelViewModel.channel._id}`).getElementsByTagName('a')

        // for (let link of links) {
        //   link.classList.add('external')
        // }

    })


    return $render
  }

</script>