<% 

    const excerptHtml = require('excerpt-html')
    const he = require('he')

    let hostname = htmlWebpackPlugin.options.hostname
    let baseURL = htmlWebpackPlugin.options.baseURL
    let itemViewModel=htmlWebpackPlugin.options.itemViewModel 
    let routablePages = htmlWebpackPlugin.options.routablePages

    const link = (href) => {
        return `${baseURL + href}`
    }    

    const absoluteLink = (href) => {
        return `${hostname + baseURL + href}`
    }   

    const escapeExcerpt = (excerpt) => {
        excerpt = excerptHtml(excerpt, { pruneLength: 500 })
        return he.encode(excerpt.toString())
    }

%>


<!DOCTYPE html>
<html>

<head>
    <style>
    html {
        visibility: hidden;
        opacity: 0;
    }
    </style>

    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <title><%= itemViewModel.item.title ? itemViewModel.item.title + ' / ' : '' %><%= itemViewModel.channel.title %> #<%= itemViewModel.item.tokenId %></title>

    <meta property="og:title" content="<%= itemViewModel.item.title ? itemViewModel.item.title + ' / ' : '' %><%= itemViewModel.channel.title %> #<%= itemViewModel.item.tokenId %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="<%= itemViewModel.coverImage ? absoluteLink(`backup/images/${itemViewModel.coverImage._id}.${itemViewModel.coverImage.generated ? 'svg' : 'jpg'}`)  : '' %>" />
    <meta property="og:description" content="<%= escapeExcerpt(itemViewModel.contentHTML)%>" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="" />
    <meta property="twitter:title" content="<%= itemViewModel.item.title ? itemViewModel.item.title + ' / ' : '' %><%= itemViewModel.channel.title %> #<%= itemViewModel.item.tokenId %>" />
    <meta property="twitter:description" content="<%= escapeExcerpt(itemViewModel.contentHTML) %>" />
    <meta property="twitter:image" content="<%= itemViewModel.coverImage ? absoluteLink(`backup/images/${itemViewModel.coverImage._id}.${itemViewModel.coverImage.generated ? 'svg' : 'jpg'}`)  : '' %>" />

    <%= htmlWebpackPlugin.tags.headTags %>
    
</head>

<body>

    <div id="app">

        <div class="view view-main">

            <div class="page" data-name="item-show-<%=itemViewModel.item._id %>">

                <nav-bar></nav-bar>

                <div class="page-content">

                    <div class="row">

                        <div class="col-100 large-66 center">
                    
                            <div class="nft-header-row">

                                <div class="left">

                                    <div class="card">
                                        <div class="card-header">
                                            <span class="small-ethereum-icon"></span>
                                        </div>
                                        <div class="card-content">
                                            <div class="animation-content">
                                                <%=itemViewModel.animationContentHTML %>
                                            </div>
                                        </div>
                                    </div>    

                                </div>

                                <div class="right">

                                    <div class="block">

                                        <h4>
                                            <a href="<%= link('index.html') %>"><%= itemViewModel.channel.title %></a>
                                        </h4>
    
                                        <h1>
                                            <%= itemViewModel.item.title ? itemViewModel.item.title : itemViewModel.channel.title %> #<%= itemViewModel.item.tokenId %>
                                        </h1>

                                    </div>

                                    <% if (itemViewModel.channel.contractAddress) { %>
                                        <nft-info id="<%= itemViewModel.item.tokenId %>" 
                                                  owner="${owner}" 
                                                  baseurl="<%= baseURL %>" 
                                                  contract="<%= itemViewModel.channel.contractAddress %>">
                                        </nft-info>
                                    <% } %>


                                </div>

                            </div>



                            <div class="card">
                                
                                <div class="card-header">
                                    <label>Attributes</label>
                                </div>

                                <div class="card-content data-table">
                    
                                    <table>
                                        <tbody>

                                            <% itemViewModel.attributeSelections?.map( (as)=> { %>
                                                <tr>
                                                    <td class="label-cell"><%= as.traitType %></td> 
                                                    <td><%= as.value %></td>
                                                </tr>
                                            <% }) %>

                                            <tr>
                                                <td class="label-cell">Cover Image</td> 
                                                <td>                                                
                                                    <img src="backup/images/<%= `${itemViewModel.coverImage._id}.${itemViewModel.coverImage.generated ? 'svg' : 'jpg'} ` %>" class="cover-image-preview" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>




                                </div>

                            </div>






                            <div class="block row center margin-bottom">
                
                                <% if (itemViewModel.item.previous) { %>
                                    <div class="col-50 previous">
                                        <a class="button button-outline" href="<%= link(`item-show-${itemViewModel.item.previous._id}.html`) %>">
                                            <i class="f7-icons">arrow_left</i>
                                            <%=itemViewModel.item.previous.tokenId%>
                                        </a>
                                    </div>
                                <% } %>

                    
                                <% if (itemViewModel.item.next) { %>
                                    <div class="col-50 previous">
                                        <a class="button button-outline" href="<%= link(`item-show-${itemViewModel.item.next._id}.html`) %>">
                                            <%=itemViewModel.item.next.tokenId%>
                                            <i class="f7-icons">arrow_right</i>
                                            </a>
                                    </div>
                                <% } %>
                
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <%= htmlWebpackPlugin.tags.bodyTags %>

    <script type="module" id="page-init-scripts">    

        const init = (props, { $, $f7, $h, $on, $update }) => {
            
            let tokenService = globalThis.container.get("TokenService")

            let owner
            
            const testLoad = (e) => {
                console.log('got here')
            }

            $on('pageInit', async () => {
                
                try {
                    owner = await tokenService.ownerOf(parseInt('<%= itemViewModel.item.tokenId %>'))
                } catch(ex) {
                    
                }

                // $('.iframe-container iframe').on('load', (e) => {
                //     $('.iframe-container iframe').css('display', 'block')
                // })

                // $('.iframe-container iframe').attr("src","backup/animations/<%=itemViewModel.item.animationId %>.html")

            })          

            $on('pageBeforeOut', async () => {
            })


            document.querySelector('meta[property="og:title"]').setAttribute("content", "<%= itemViewModel.item.title ? itemViewModel.item.title + ' / ' : '' %><%= itemViewModel.channel.title %> #<%= itemViewModel.item.tokenId %>")
            document.querySelector('meta[property="og:url"]').setAttribute("content", "<%= link(`item-show-${itemViewModel.item._id}`) %>")
            document.querySelector('meta[property="og:image"]').setAttribute("content", "<%= itemViewModel.coverImage ? absoluteLink(`backup/images/${itemViewModel.coverImage._id}.${itemViewModel.coverImage.generated ? 'svg' : 'jpg'}`)  : '' %>")
            document.querySelector('meta[property="og:description"]').setAttribute("content", "<%= escapeExcerpt(itemViewModel.contentHTML)%>")

            document.querySelector('meta[property="twitter:url"]').setAttribute("content", "<%= link(`item-show-${itemViewModel.item._id}`) %>")
            document.querySelector('meta[property="twitter:title"]').setAttribute("content", "<%= itemViewModel.item.title ? itemViewModel.item.title + ' / ' : '' %><%= itemViewModel.channel.title %> #<%= itemViewModel.item.tokenId %>")
            document.querySelector('meta[property="twitter:image"]').setAttribute("content", "<%= itemViewModel.coverImage ? absoluteLink(`backup/images/${itemViewModel.coverImage._id}.${itemViewModel.coverImage.generated ? 'svg' : 'jpg'}`)  : '' %>")
            document.querySelector('meta[property="twitter:description"]').setAttribute("content", "<%= escapeExcerpt(itemViewModel.contentHTML)%>" )

            document.querySelector('title').innerHTML = "<%= itemViewModel.item.title ? itemViewModel.item.title + ' / ' : '' %><%= itemViewModel.channel.title %> #<%= itemViewModel.item.tokenId %>"

            $f7.preloader.hide()

            



            return $render;

        }


    </script>

    <script type="module" id="page-scripts">

      let routablePages = JSON.parse(`<%= JSON.stringify(routablePages) %>`)
      let app = reader.init('<%= baseURL %>', '<%= VERSION %>', routablePages )

    </script>

</body>

</html>