<% 

    const excerptHtml = require('excerpt-html')
    const he = require('he')

    let hostname = htmlWebpackPlugin.options.hostname
    let baseURL = htmlWebpackPlugin.options.baseURL
    let channelViewModel=htmlWebpackPlugin.options.channelViewModel 
    let routablePages = htmlWebpackPlugin.options.routablePages

    const link = (href) => {
        return `${baseURL + href}`
    }    

    const absoluteLink = (href) => {
        return `${hostname + baseURL + href}`
    }   

    const escapeExcerpt = (excerpt) => {
        excerpt = excerptHtml(excerpt, { pruneLength: 500 })
        return he.encode(excerpt.toString())
    }
%>


<!DOCTYPE html>
<html>

<head>
    <style>
    html {
        visibility: hidden;
        opacity: 0;
    }
    </style>

    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <title>
        <%=channelViewModel.channel.title%> - Page <%= channelViewModel.pagingViewModel.page %>
    </title>

    <meta property="og:title" content="<%=channelViewModel.channel.title%> - Page <%= channelViewModel.pagingViewModel.page %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= link(`list-${channelViewModel.pagingViewModel.page}.html`) %>" />
    <meta property="og:image" content="<%= absoluteLink(`backup/images/${channelViewModel.channel.coverImageId}.jpg`) %>" />
    <meta property="og:description" content="<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%= link(`list-${channelViewModel.pagingViewModel.page}.html`) %>" />
    <meta property="twitter:title" content="<%=channelViewModel.channel.title%> - Page <%= channelViewModel.pagingViewModel.page %>" />
    <meta property="twitter:description" content="<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>" />
    <meta property="twitter:image" content="<%= absoluteLink(`backup/images/${channelViewModel.channel.coverImageId}.jpg`) %>" />

    <%= htmlWebpackPlugin.tags.headTags %>
    
</head>

<body>

    <div id="app">

        <div class="view view-main">

            <div class="page" data-name="list-<%=channelViewModel.pagingViewModel.page %>">

                <nav-bar></nav-bar>

                <div class="page-content">

                    <div class="row">

                        <div class="col-100 large-66 center">

                            <ul class="breadcrumb">
                                <li>
                                    <a href="<%= link('index.html') %>"><%= channelViewModel.channel.title %></a>
                                </li>
                                <li>
                                    Page <%= channelViewModel.pagingViewModel.page %>
                                </li>
                            </ul>

                            <div class="list cards-list" id="item-list-show-channel-<%=channelViewModel.channel._id %>">

                                <ul>

                                <% if(channelViewModel.items?.length> 0) { %>

                                    <% channelViewModel.items?.map( (itemViewModel)=> { %>

                                        <% if (itemViewModel.item.excerpt) { %>

                                            <li class="card item-card">

                                                <div class="card-content card-content-padding">
                                                    <div class="item-preview">

                                                        <div class="left">
        
                                                            <a class="title" href="<%= link(`item-show-${itemViewModel.item._id}.html`) %>">
                                                                <%= itemViewModel.item.title %>
                                                                <span class="channel-show-token-id">#<%= itemViewModel.item.tokenId %>
                                                                </span>
                                                            </a>
        
                                                            <p>
                                                                <%= itemViewModel.item.excerpt %>
                                                            </p>
        
                                                        </div>
        
                                                        <% if (itemViewModel.coverImage) { %>
                                                        <div class="right">
                                                            <a class="title" href="<%= link(`item-show-${itemViewModel.item._id}.html`) %>">
                                                            <img src="backup/images/<%= itemViewModel.coverImage._id %>.<%= itemViewModel.coverImage.generated ? 'svg' : 'jpg'%>" />
                                                            </a>
                                                        </div>
                                                        <% } %>
        
                                                    </div>
                                                </div>
                                            </li>
    

                                        <% } else { %>
                                            <li class="card animation-list-card" data-href="<%= link(`item-show-${itemViewModel.item._id}.html`) %>">
                                                <%=itemViewModel.animationContentHTML %>
                                            </li>
                                            
                

                                        <% } %>




                                    <% }) %>

                                    <% if (channelViewModel.pagingViewModel.endPage> 1) { %>
                                        <div class="block segmented">
                                            <% if (channelViewModel.pagingViewModel?.showPrevious) { %>
                                                <a class="button button-outline"
                                                    href="<%= link(channelViewModel.pagingViewModel.page == 1 ? 'index.html' : `list-${parseInt(channelViewModel.pagingViewModel.page-1)}.html`) %>">
                                                    <i class="f7-icons">arrow_left</i>
                                                </a>
                                            <% } %>

                                            <a class="button button-active"
                                                href="<%= link(`index_${parseInt(channelViewModel.pagingViewModel.page)}.html`) %>">
                                            <%= channelViewModel.pagingViewModel.page %> of <%=
                                                channelViewModel.pagingViewModel.endPage %>
                                            </a>

                                            <% if (channelViewModel.pagingViewModel?.showNext) { %>
                                            <a class="button button-outline"
                                                href="<%= link(`list-${parseInt(channelViewModel.pagingViewModel.page+1)}.html`) %>">
                                                Next
                                                <i class="f7-icons">arrow_right</i>
                                            </a>
                                            <% } %>
                                        </div>

                                        <form class="block" id="paging-form-<%= channelViewModel.pagingViewModel.page %>">
                                            <input type="number" class="goto-input"
                                            style="width: 60px; border: 1px solid #cccccc; display: inline-block;"
                                            value="<%=channelViewModel.pagingViewModel.page%>" min="1"
                                            max="<%=channelViewModel.pagingViewModel.endPage%>" />
                                            <span class="paging-label">Pages 1 - <%= channelViewModel.pagingViewModel.endPage %>
                                            </span>
                                            <button class="goto-button button button-small button-fill">Go</button>
                                        </form>
                                    <% } %>

                                    <div class="block">
                                        <br />
                                    </div>


                                <% } else { %>

                                    <li class="card item-card" >
                                        <div class="card-content">
                                        <div class="card-content card-content-padding">
                                            There are no NFTs in this collection yet. <br /><br />Click the 'Create
                                            Blog NFT' button to create the first item.
                                        </div>
                                        </div>
                                    </li>

                                <% } %>

                                </ul>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <%= htmlWebpackPlugin.tags.bodyTags %>

    <script type="module" id="page-init-scripts">

        const init = (props, { $, $f7, $h, $on, $update }) => {


            let baseURL = '<%= baseURL %>'

            let pageNumber = parseInt("<%= channelViewModel.pagingViewModel.page %>");
            let endPageNumber = parseInt("<%= channelViewModel.pagingViewModel.endPage %>");

            const cardClick = (e) => {
                const islink = e.currentTarget.tagName.toLowerCase() == "a" || e.target.tagName.toLowerCase() == "a"
                    
                    if (!islink) {
                        let href = $(e.currentTarget).data('href')
                        $f7.views.main.router.navigate(href)
                    } 
            }

            $on('pageInit', async () => {

                $(`.animation-list-card a`).addClass('external')

                $('.animation-list-card').on('click', (e) => {
                    cardClick(e)
                })

                $('.item-card').on('click', (e) => {
                    cardClick(e)
                })


            })

            $on('pageBeforeOut', async () => {
            })


            document.querySelector('meta[property="og:title"]').setAttribute("content", "<%=channelViewModel.channel.title%> - Page <%= channelViewModel.pagingViewModel.page %>")
            document.querySelector('meta[property="og:url"]').setAttribute("content", "<%= link(`list-${channelViewModel.pagingViewModel.page}.html`) %>")
            document.querySelector('meta[property="og:image"]').setAttribute("content", "<%= absoluteLink(`backup/images/${channelViewModel.channel.coverImageId}.jpg`) %>")
            document.querySelector('meta[property="og:description"]').setAttribute("content", "<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>")

            document.querySelector('meta[property="twitter:url"]').setAttribute("content", "<%= link(`list-${channelViewModel.pagingViewModel.page}.html`) %>")
            document.querySelector('meta[property="twitter:title"]').setAttribute("content", "<%=channelViewModel.channel.title%> - Page <%= channelViewModel.pagingViewModel.page %>")
            document.querySelector('meta[property="twitter:image"]').setAttribute("content", "<%= absoluteLink(`backup/images/${channelViewModel.channel.coverImageId}.jpg`) %>")
            document.querySelector('meta[property="twitter:description"]').setAttribute("content", "<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>" )

            document.querySelector('title').innerHTML = "<%=channelViewModel.channel.title%> - Page <%= channelViewModel.pagingViewModel.page %>"

            $f7.preloader.hide()



            const formSubmit = (e) => {

                e.preventDefault()

                e.currentTarget.querySelector('.goto-input').value

                const val = e.currentTarget.querySelector('.goto-input').value

                if (val > 0 && val <= endPageNumber) {
                    $f7.views.main.router.navigate(`${baseURL}list-${val}.html`)
                } else {
                    $f7.dialog.alert("Invalid Page")
                }

            }

            $on('pageAfterIn', (e, page) => {

                let form = document.getElementById(`paging-form-${pageNumber}`)

                if (form) {
                    // console.log("Adding", e.currentTarget)
                    form.addEventListener('submit', formSubmit)
                }

            })

            $on('pageAfterOut', (e, page) => {
                let form = document.getElementById(`paging-form-${pageNumber}`)

                if (form) {
                    // console.log("Removing", e.currentTarget)
                    form.removeEventListener('submit', formSubmit)
                }
                
            })


            return $render;


        }


    </script>

    <script type="module" id="page-scripts">

      let routablePages = JSON.parse(`<%= JSON.stringify(routablePages) %>`)
      let app = reader.init('<%= baseURL %>', '<%= VERSION %>', routablePages )

    </script>

</body>

</html>