<% 

    const excerptHtml = require('excerpt-html')
    const he = require('he')

    let hostname = htmlWebpackPlugin.options.hostname
    let baseURL = htmlWebpackPlugin.options.baseURL
    let channelViewModel=htmlWebpackPlugin.options.channelViewModel 
    let staticPage = htmlWebpackPlugin.options.staticPage
    let routablePages = htmlWebpackPlugin.options.routablePages

    const link = (href) => {
        return `${baseURL + href}`
    }    

    const absoluteLink = (href) => {
        return `${hostname + baseURL + href}`
    }   

    const escapeExcerpt = (excerpt) => {
        excerpt = excerptHtml(excerpt, { pruneLength: 500 })
        return he.encode(excerpt.toString())
    }

%>


<!DOCTYPE html>
<html>

<head>
    <style>
    html {
        visibility: hidden;
        opacity: 0;
    }
    </style>

    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <title>
        <%= staticPage.name %>
    </title>
  
    <meta property="og:title" content="<%=staticPage.name%>" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="<%= link(`${staticPage.slug}.html`) %>" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="<%= escapeExcerpt(staticPage.contentHTML)%>" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%= link(`${staticPage.slug}.html`) %>" />
    <meta property="twitter:title" content="<%= staticPage.name %>" />
    <meta property="twitter:description" content="<%= escapeExcerpt(staticPage.contentHTML)%>" />
    <meta property="twitter:image" content="" />

    <%= htmlWebpackPlugin.tags.headTags %>
    
</head>

<body>

    <div id="app">

        <div class="view view-main">

            <div class="page" data-name="static-page-<%=staticPage._id %>">

                <nav-bar></nav-bar>

                <div class="page-content">

                    <div class="row">

                        <div class="col-100 large-66 center">
                            <div class="card">
                                <div class="card-content card-content-padding">
                                    <%= staticPage.contentHTML %>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <%= htmlWebpackPlugin.tags.bodyTags %>

    <script type="module" id="page-init-scripts">    

        const init = (props, { $, $f7, $h, $on, $update }) => {
            
            let owner
            
            $on('pageInit', async () => {
            })          

            $on('pageBeforeOut', async () => {
            })


            document.querySelector('meta[property="og:title"]').setAttribute("content", "<%=staticPage.name %>")
            document.querySelector('meta[property="og:url"]').setAttribute("content", "<%= link(`${staticPage.slug}.html`) %>")
            document.querySelector('meta[property="og:image"]').setAttribute("content", "")
            document.querySelector('meta[property="og:description"]').setAttribute("content", "<%= escapeExcerpt(staticPage.contentHTML)%>")

            document.querySelector('meta[property="twitter:url"]').setAttribute("content", "<%= link(`${staticPage.slug}.html`) %>")
            document.querySelector('meta[property="twitter:title"]').setAttribute("content", "<%=staticPage.name%>")
            document.querySelector('meta[property="twitter:image"]').setAttribute("content", "")
            document.querySelector('meta[property="twitter:description"]').setAttribute("content", "<%= escapeExcerpt(staticPage.contentHTML)%>" )

            document.querySelector('title').innerHTML = "<%= staticPage.name %>"

            $f7.preloader.hide()

            



            return $render;

        }


    </script>

    <script type="module" id="page-scripts">

      let routablePages = JSON.parse(`<%= JSON.stringify(routablePages) %>`)
      let app = reader.init('<%= baseURL %>', '<%= VERSION %>', routablePages )

    </script>

</body>

</html>